.projects {
    ol {
        line-height: 32px * 1.5;
        font-size: 32px;
        font-weight: 400;
        text-underline-offset: 4px;
    }
    
    a {
        font-size: 32px;
        text-decoration-thickness: 2px;
    }

}