@font-face {
    font-family: Anona;
    src: url('../fonts/Anona/Fontspring-DEMO-anona-regular.otf');
}

@font-face {
    font-family: Anona-I;
    src: url('../fonts/Anona/Fontspring-DEMO-anona-italic.otf');
}

@font-face {
    font-family: Colabero;
    src: url('../fonts/Colabero/Colabero.otf');
}