// COLORS
$blue: #518691;
// $blue: #5f8594;
$bluer: #3e5862;
$green: #bcdeae;
$white: #fffce3;
$white2: rgb(239, 237, 213);
$grey: #e4e4e4ff;
$black: #202020ff;
$greyer: rgb(58, 58, 58);
$grey2: rgb(150, 150, 150);

// LAYOUT
$layoutPadding: 20px;
$padding: 10px;

// BREAKPOINTS
$mobile-breakpoint: 460px;
$tablet-breakpoint: 800px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1200px;

// VARS

// TYPOGRAPHY
$smaller: 14px;
$small: 16px;
$p: 20px;
$h1: 32px;
$h2: 38px;
$h3: 30px;
$h4: 22px;
$btn-text: 22px;
$in-radius: 12px;
$br: 12px;